<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Messages", "#", class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1485265449635-ca623a55e95c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">
    <h1>Make your drinks come true.</h1>
    <p>Change your life. Make a drink.</p>
    <a class="btn btn-ghost" href="#">Do it now!</a>
  </div>
</div>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.dicasdemulher.com.br/wp-content/uploads/2019/03/caipirinha-0.jpg)">
    Caipirinha
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.squarespace-cdn.com/content/v1/51ef2bf2e4b02bcf8471333b/1465317835585-HE2DMJYC97UG5L024E7D/ke17ZwdGBToddI8pDm48kPCKOULcG7ZXqZGAlYEl4XcUqsxRUqqbr1mOJYKfIPR7bPjVvospn8apiEHRoKkKBhNTZSYBy3YSBUnOLTsrcHzFhSPlVV71_Xhqg_adcQJM6viZV9EcpqitzOdo6Y09dWQFRGB0qH5jjwtq3xo5y8rBKb3WGD-hmenaqnUhWvYY/south-beer-cup-2016)">
    Cerveja
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.seriouseats.com/recipes/images/2015/06/20150622-3-ingredient-cocktail-cuba-libre-vicky-wasik-1500x1125.jpg)">
    Cuba Libre
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/two-glasses-of-bloody-mary-royalty-free-image-1577186719.jpg?crop=1xw:0.71408xh;center,top&resize=1200:*)">
    Bloody Mary
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://guiadoestrangeiro.com/wp-content/uploads/2016/05/Margarita-1.jpg)">
    Margarita
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/jerrick/image/upload/fl_progressive,q_auto,w_1024/qkvuboh1jjh2qyrku8kr.jpg)">
    Toddynho
  </div>
</div>

</body>
</html>
